<div class="container">
<h2>"<%= @user.id%>"에게 등록된 후기</h2>



    <% if @user.rate == -1 %>
 현재 등록된 후기가 없습니다.<br>

<% else%>
<div class="review" style="float:right;width:30%;height:auto">
    
    총 평점 : 
    <% for i in 1..@user.rate %>
        <img src="/assets/star.png" width="20px" height="20px">
    <% end %>
    <b>( <%=@user.rate %> )</b><br>
    등록된 후기 개수 :
    <%=@user.reviews.count %>
</div><br><br>
<hr>
<div class="row">
    <% @user.reviews.each do |a| %>
    <div class="review2" style="width:30%;height:200px;text-align:center">
        
        <%= a.writer%> <hr><span style="float:right">
        <% for i in 1 .. a.rate %>
            <img src="/assets/star.png" width="20px" height="20px">
        <% end %> <b>( <%=a.rate %> )</b></span>
        <br><br>
        <%= a.content%>
    <br>
    </div>
    <% end %>
<% end %>
</div>
</div>