<style>
  body{
    background-color:#fafafb;
    font-size:11pt;
  }
</style>
<div class="cenbox">

<%= form_for(resource, :html => {:class => "login100-form validate-form flex-sb flex-w"}, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <span class="login100-form-title p-b-51">
		<img src="/assets/logo.png" width="100px" height="auto">
	</span>
	
  <div class="wrap-input100 validate-input m-b-16">
    <%= f.email_field :email, :class => 'input100', :placeholder => '이메일을 입력해주세요.', autofocus: true, autocomplete: "email" %>
    <span class="focus-input100"></span>
  </div>
  
  <div class="wrap-input100 validate-input m-b-16">
    <%= f.text_field :name, :class => 'input100', :placeholder => '이름을 입력해주세요.' %>
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input m-b-16">
    <%= f.password_field :password, :class => 'input100', :placeholder => '비밀번호'+ @minimum_password_length.to_s + '자 이상 입력해주세요.', autocomplete: "off" %>
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input m-b-16">
    <%= f.password_field :password_confirmation, :class => 'input100', :placeholder => '비밀번호를 재입력해주세요.', autocomplete: "off" %>
    <span class="focus-input100"></span>
  </div>
  
  <div class="wrap-input100 validate-input m-b-16"><br>
    <center>
      <label><%= f.radio_button :sex, "F", checked: true %> <span class="label-text">여자</span></label>  
      <label><%= f.radio_button :sex, "M" %> <span class="label-text">남자</span></label>
      </center>
    <br>
    <span class="focus-input100"></span>
  </div>
  
  <div class="wrap-input100 validate-input m-b-16">
    SNS 계정이 없다면 비워주세요<br>
    <%= f.text_field :instagram, :class => 'input100', :placeholder => 'Instagram 계정' %><br>
    <%= f.text_field :twitter, :class => 'input100', :placeholder => 'Twitter 계정' %>
    <span class="focus-input100"></span>
  </div>

  <div class="container-login100-form-btn m-t-17">
    <%= f.submit "회원가입", :class => 'login100-form-btn'  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>