<%- if controller_name != 'sessions' %>
  <div class="container-login100-form-btn m-t-17">
    <%= button_to  new_session_path(resource_name),:class => 'login100-form-btn' do%>
      이미 회원이라면 로그인
    <% end %>
   </div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<div class="container-login100-form-btn m-t-17">
  
  <%= button_to new_registration_path(resource_name) , :class => 'login100-form-btn', :method => 'get' do%>
      회원가입
    <% end %>
  </div>
<% end -%>



<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<div text-align="center">
<%- if devise_mapping.omniauthable? %>
  <%= button_to  omniauth_authorize_path(resource_name, :google_oauth2),:class => 'snsbtn' do%>
    <i class="fab fa-google" style="font-size:30px"><sns> Google</sns></i> 
  <% end %>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%= button_to  omniauth_authorize_path(resource_name, :facebook), {:class => 'snsbtn'} do%>
    <i class="fab fa-facebook" style="font-size:30px"><sns> FaceBook</sns></i> 
  <%end%>
<% end -%>
</div>

<style>
sns {
  vertical-align:middle;
  font-size:12pt;
  font-family: 'Nanum Gothic Coding';
}

.snsbtn {
    cursor: pointer;
    opacity: 0.9;
    background: rgba(0, 0, 0, 0);
    border:none;
    color: #B0C4DE;
    font-size: 12pt;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'Nanum Gothic Coding';
    
}

.snsbtn:hover, .snsbtn:focus {
   color:rgb(0, 0, 0, 0.3);
}

  
 .button_to {
   display: inline;
 }
</style>
  <!--<- resource_class.omniauth_providers.each do |provider| %>
    <= link_to "#{OmniAuth::Utils.camelize(provider)}로 로그인", omniauth_authorize_path(resource_name, provider) %><br />
  < end -%>
  -->
