<style>
  
  
  #chat {
    padding:10px;
    background: #d1dffa;
    border-radius:5px;
    margin-top:5px;
  }
  
  .nonvisi {
    background:rgb(255, 255, 255, 0);
    border:none;
    width:80%;
    margin:10px;
    padding:10px;
    vertical-align:middle;
    font-size:10pt;
  }
  
  .sendchat {
    text-align:center;
    background:white;
    margin-top:20px;
  }
  
  .send {
    background:rgb(255, 255, 255, 0);
    border:none;
    color:#8db0f2;
    vertical-align:middle;
  }
</style>

<li>
  <div class="panel panel-default" data-conversation-id="<%= conversation.id %>">
    <div class="panel-heading">
      <%= link_to conversation.opposed_user(user).name, '', class: 'toggle-window' %>
      <%= link_to close_conversation_path(conversation), remote: true, method: :post  do%>
        <i class="fas fa-times-circle" style="color:lightgray"></i>
      <% end %>
      <br>
    </div>

    <div class="panel-body"  id="chat" style="display: none;">
      <div class="messages-list">
        <ul>
          <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
        </ul>
      </div>
      
      <div class="sendchat">
      <form class="new_message">
        <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
        <input name="user_id" type="hidden" value="<%= user.id %>">
        <textarea class="nonvisi" name="body"></textarea>
        <input type="submit" class="send" value="전송">
      </form>
      </div>
      
    </div>
  </div>
</li>


