<div id="about" class="paddsection">
    <div class="container">
<div class="row">
  
  <div class="col-lg-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>
  
  <div class="col-lg-4" style="position:fixed;left:70%;">
    <div class="panel panel-primary">
      <div class="panel-heading">
        
      </div>
      <div class="panel-body">
        
      <div class="chatuserlist"><i class="fas fa-comments" style="color:white"></i> 신청받은 ( <%= @badunapp.count %> )</a></div>
      
        <ul>
          <% @badunapp.each do |a| %>
            <% @user = User.find(a.user_id) %>
            <li><%= link_to @user.name, conversations_path(user_id: @user), remote: true, method: :post %></li>
          <% end %>
        </ul>
        
      <div class="chatuserlist"><a><i class="fas fa-comments" style="color:white"></i> 신청한 ( <%= @applies.count %> )</a></div>
      <br>
        <ul>
          <% @applies.each do |a| %>
            <% @user = User.find(a.partner) %>
            <li><%= link_to @user.name, conversations_path(user_id: @user), remote: true, method: :post %></li>
          <% end %>
        </ul>
      </div>
  
 
      </div>
    </div>
<br><br><br><br>
</div>


</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>