<style>
    table{align:center;}
    tr{border-bottom:1px gray solid;text-align:center;padding:20px}
    td{padding:20px;}
</style>



<h1> <%= @post.title %>에 작성된 신청서 목록</h1>

<table>
    <tr>
        <td> 작성자 </td>
        <td> 지원서 제목</td>
        <td> 지원서 내용</td>
        <td> 작성 시간</td>
        <td> 매칭 상태</td>
        <td> 수락하기</td>
    </tr>
    
    <% @post.applies.each do |a| %>
    
    <tr>
        <td> <%=a.user_id%></td>
        <td> <%=a.title%></td>
        <td> <%=a.content%></td>
        <td> <%=( a.created_at + 32400 ).strftime "%Y-%m-%d %H:%M:%S" %></td>
        <td> <%=a.matching%></td>
        <% if a.matching %>
            <td> <a class="btn btn-info" role="button">수락 완료</a> </td>
        <% else %>
            <td> <a href="/post/<%=@post.id%>/apply_accept/<%=a.id%>" class="btn btn-info" role="button">수락하기</a> </td>
        <%end%>
        
    </tr>
    <%end%>
</table>