
<h1> 지원서 작성</h1>
<br>
<%=form_for(Apply.new, url: apply_cre_path(post_id: @post.id), method: 'post')do |f| %>
                        <%=f.label :title%><br>
	                    <%=f.text_field :title , class:"form-control"%> 
	                    <%=f.label :content%><br>
	                    <%=f.text_field :content , class:"form-control", size: "24x6" %>
        	            <%=f.submit '등록' ,class:"btn", :style => 'float:right'%>
<%end%>