<style>
    td {padding:15px; text-align:center;}
</style>
<div class="container">
    <br><br>
<table width="100%" style="color:black">
                <tr>
                    <td style="background-color:#FCFCFC;text-align:left;border-top: 1px solid #CCC;border-bottom: 1px solid #CCC;">
                        <b><%= @apply.title %></b>
                        <div style="float:right">
                            <%= (@apply.created_at + 32400 ).strftime "%Y-%m-%d %H:%M"%>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;border-bottom: 1px solid #EEE;">
                            <% if @apply.matching %>
                                <td> 매칭 완료</td>
                            <% else %>
                                <% if current_user.id == @apply.user_id %>
                                    <a href="/apply/edit/<%=@apply.id%>"> <i class="fas fa-eraser"></i> </a> 
                                    <a href="/apply/destroy/<%=@apply.post_id%>"> <i class="far fa-trash-alt"></i></a> 
                                <%end%>
                            <%end%>
                    </td>
                </tr>
                <tr>
                    <td height="150px">
                        <%= @apply.content %>
                    </td>
                </tr>
            </table>
</div>