<div style="border:2px lightgray solid; border-radius:20px; padding:25px; margin-bottom:40px;font-size:12pt">
<h1><i class="fab fa-searchengin"></i>&nbsp;빠른 탐색</h1>
<h5>원하는 정보를 선택해주세요</h5>
<hr>
<%= form_tag("/match/search", method: "post") do %>
    <h3><i class="fas fa-user"></i>&nbsp;유저 정보</h3><br>
    성별: 
    <%=radio_button_tag 'sex', 'all', checked: true %> 무관
    <%=radio_button_tag 'sex', 'F' %> 여자
    <%=radio_button_tag 'sex', 'M' %> 남자
    <br>
    학교: 
    <%=radio_button_tag 'school', 'all', checked: true %> 무관
    <%=radio_button_tag 'school', 'my' %> 학우
    <%=radio_button_tag 'school', 'other'%> 타학교
    <br>
    학번:
    <div data-role="rangeslider" data-mini="true">
        <span id="maxValue"><%=@time - 10%></span> ~ <span id="minValue"><%=@time%></span><br>
        <input name="st" id="st" class="slide" type="range" min="<%=@time - 10%>" max="<%=@time - 6 %>" value="<%=@time - 10%>" data-highlight="true" onchange="document.getElementById('maxValue').innerHTML=this.value;">
        <input name="en" id="en" class="slide" type="range" min="<%=@time - 5%>" max="<%=@time %>" value="<%=@time%>" data-highlight="true" onchange="document.getElementById('minValue').innerHTML=this.value;">
    </div>
    
    <br>
    나중에 지역
    <hr>
    <h3><i class="fas fa-clipboard"></i>&nbsp;글정보</h3><br>
    <% for i in 0..5 %>
        <input type="checkbox" name="category[category][]" value="<%=@category[i]%>"> <%=@category[i]%>
    <% end %>
    <%=submit_tag '찾기' , class: 'btn', :style => 'float:right'%>
<% end %>
<br>
</div>