<style>
    .map_wrap {position:relative;width:100%;height:230px;}
    .title {font-weight:bold;display:block;}
    .hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
    #centerAddr {display:block;margin-top:2px;font-weight: normal;}
    .bAddr {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
    td {padding:15px; text-align:center;}
    th {padding:15px; text-align:center;}
    tr {text-align:center; }
    #wb {rgba(255, 255, 255, 0.5)}
    .hi{width:150px; height:auto; margin-right:10px;vertical-align:middle;display:inline}
    #fr{float:right;padding:0px;}
    table{font-size:10pt;}
    .panel-body {
      height: 100%; 
      width: 100%; 
      object-fit: contain
    }
    .basis_img {width:150px; height:150px;}
    .linech{white-space: pre-line};

</style>

<div id="about" class="paddsection">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div style="height: 45vh; width: auto;">                    
                    <% if @post.image.url.nil? %>
                      <td rowspan="4" width="60%" height="auto"><img src="/assets/giventake.png" class="panel-body" alt="post_image"></td>
                    <% else %>
                      <td rowspan="4" width="60%" height="auto"> <img src='<%=@post.image%>' class="panel-body"></td>
                    <% end %><br>
                </div>
                <hr>
                <div class="linech">
                    <h4><%= @post.title%></h4><br>
                    <%= @post.content %>
                </div>
                <hr>
                    <div>
                        <h4>리뷰 &nbsp;
                        <%if User.find(@post.user_id).rate != -1%>
                            <% for i in 1..@user.rate %>
                                <i class="fas fa-star" style="color:#ffe44d"></i>
                            <% end %> <b>( <%=@user.rate %> )</b> 
                        <%end%>
                        </h4> <br>
                        <% if @user.rate == -1 %>
                             현재 등록된 후기가 없습니다.<br>
                        <% else%>
                        
                            <div class="row">
                                <% @user.reviews.each do |a| %>
                                    <table width="95%" style="margin-bottom:40px" align="center">
                                        <tr>
                                            <td style="padding:10px;background-color:#FCFCFC;text-align:left;border-top: 1px solid #CCC;border-bottom: 1px solid #CCC;"> 
                                                <%= User.find(a.writer).name %> <span style="float:right">
                                                    <% for i in 1 .. a.rate %>
                                                        <i class="fas fa-star" style="color:#ffe44d"></i>
                                                    <% end %> <b>( <%=a.rate %> )</b></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><%= a.content%> </td>
                                        </tr>
                                    </table>
                                    <br><br><br>
                                 <% end %>
                            </div>
                        <% end %>
                    </div>
                <hr>
                 <h4>위치 정보</h4>
              <br>
              <div class="map_wrap">
                <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
                <div class="hAddr">
                    <span id="centerAddr"></span> <a href="http://map.daum.net/link/to/도착지,<%=@post.lat%>,<%=@post.lon%>" target="_blank"><i class="fas fa-map-marked-alt"></i> 길찾기 </a>
                </div>
                
              </div>
             
            
            </div>
            <div class="col-lg-4" style="position: fixed;left: 62%; width:50vh">
                <div class="row" style="padding: 20px;">
                    <div class="col-lg-5">
                        <% if User.find(@post.user_id).profile_img.url.nil? %>
                            <img src="/assets/user.png" class="rounded-circle basis_img" alt="profile">
                        <% else %>
                            <img src='<%= User.find(@post.user_id).profile_img %>' class="rounded-circle basis_img">
                        <% end %>
                    </div>
                    <div class="col-lg-7">
                        <p><cap>이 름 |</cap> <%= User.find(@post.user_id).name %></p>
                        <p><cap>학 교 |</cap> <%= User.find(@post.user_id).school %></p>
                        <div class="info" style="float:right;">
                            <% if @post.sns %>
                                <% if User.find(@post.user_id).twitter != "" %>
                                    <a href="http://www.twitter.com/<%= User.find(@post.user_id).twitter%>" target="_blank">
                                        <i class="fab fa-2x fa-twitter" style="color:#00BFFF"></i></a>&nbsp;
                                <% else %>
                                    <i class="fab fa-2x fa-twitter" style="color:gray"></i>&nbsp;
                                <% end %>
                                
                                <% if User.find(@post.user_id).instagram != "" %>
                                    <a href="http://www.instagram.com/<%= User.find(@post.user_id).instagram%>" target="_blank">
                                    <i class="fab fa-2x fa-instagram" style="color:#FF69B4"></i></a>
                                <% else %>
                                    <i class="fab fa-2x fa-instagram" style="color:gray"></i>
                                <% end %>
                                
                            <% else %>
                                <i class="fab fa-2x fa-twitter" style="color:gray"></i> &nbsp;
                                <i class="fab fa-2x fa-instagram" style="color:gray"></i>
                            <% end %>
					</div>
                    </div>
                </div><hr>
                <p style="text-align:right;"><%= (@post.created_at + 32400 ).strftime "%Y-%m-%d %H:%M"%></p>
                <p><cap>위 치 |</cap> <i class='bx bx-map'></i> <%= @post.address[0] %></p>
                <p><cap>가 능 날 짜 |</cap></p>
                <table class="datetable">
					    <% @day.each do |d| %> 
	                        <td <% if d == '일' %> style="color:red" <% elsif d == '토' %> style="color:blue" <%end%>> <%=d%></td>
                        <% end %>
                    </tr>
                    <tr>
                        <% for i in 0..6%>  
                            <td style="font-size:9pt;">
                                <% k = 0 %>
	                            <% while  @post.candays[i][k] %>
                                    <%=@post.candays[i][k]%><br>
                                    <% k += 1 %>
                                <%end%>
                            </td>
                        <% end %>
                    </tr>
				</table>
				<hr>
				<% if current_user.id == @post.user_id %>
				    <p style="text-align:right;font-size:10pt"> <a data-toggle="modal" data-target="#thisapp">신청서 보기 (<%= @post.applies.size %> )</a></p>
                    <hr>
                    <div class="row">
				        <div class="col-lg-6">
                            <%= button_to edit_post_path(@post), :class => "btn panel-body", :method => :get do %>수정<%end%>
                        </div>
                        <div class="col-lg-6">
                            <%= button_to post_path(@post), :class => "btn panel-body", method: :delete, data: { confirm: 'Are you sure?' } do %>삭제<%end%>
                        </div>
                    </div>
               
               <% else %>
               <div class="row">
                   <div class="col-lg-6">
                     <% if (current_user.is_apply? (@post)) %> <!-- 신청자가 있을 경우 (나랑 매칭) -->
                         <% if @post.state == current_user.id%>
                             <button class="btn panel-body disabled" id="btn"><i class="far fa-check-circle" style="color:red"></i> 나와 매칭된 글
                         <% else%>
                             <button class="btn panel-body" id="btn" data-toggle="modal" data-target="#myModal" >신청서 확인</button>
                         <%end%>
                     </div>
                    <% elsif (@post.state != '-1') %>  <!-- 신청자가 있을 경우 (신청 마감) -->
                        <p style="color:crimson">신청이 마감된 글입니다</p>
                     </div>   
                    <% else %><!-- 신청자가 없을 경우 -->
                      <button class="btn panel-body" id="btn" type="submit"data-toggle="modal" data-target="#myModal">신청하기</button>
                    </div>
                    <div class="col-lg-6">
                    <% if current_user.is_scrap? (@post) %><!-- 스크랩 -->
                     <form action='/post/<%= @post.id%>/scrap' method='post' style="width:100;display:inline;vertical-align:middle">
                       <button class="btn panel-body" id="btn" type="submit">스크랩 취소</button> 
                     </form>
                     <% else %>
                     <form action='/post/<%= @post.id%>/scrap' method='post' style="width:100;display:inline;vertical-align:middle">
                      <button class="btn panel-body" id="btn" type="submit">스크랩</button>
                     </form>
                     <% end %>
                     </div>
                     <% end %>
                 </div>
           <%end%>
           <hr>
            </div>
        </div>
    </div>



<% if current_user.id != @post.user_id %>
<% if @apply != nil %>
<!-- Modal 신청서 보기 -->
<div id="myModal" class="modal fade" role="dialog" >
  <div class="modal-dialog modal-lg modal-dialog-centered" >
      <!-- Modal content-->
      <div class="modal-mycontent">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <table width="100%" style="color:black">
                <tr>
                    <td style="background-color:#FCFCFC;text-align:left;border-top: 1px solid #CCC;border-bottom: 1px solid #CCC;">
                        <b><%= @apply.title %></b>
                        <div style="float:right">
                            <%= (@apply.created_at + 32400 ).strftime "%Y-%m-%d %H:%M"%>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;border-bottom: 1px solid #EEE;">
                            <% if @apply.matching %>
                                매칭 완료
                            <% else %>
                                <% if current_user.id == @apply.user_id %>
                                    <a href="/apply/destroy/<%=@apply.post_id%>/<%=@apply.id%>"> <i class="far fa-trash-alt"></i></a> 
                                <%end%>
                            <%end%>
                    </td>
                </tr>
                <tr>
                    <td height="150px">
                        <%= @apply.content %>
                    </td>
                </tr>
            </table>
        </div>
      </div>
  </div>
</div>
<% end %>

<% else %>
<div id="thisapp" class="modal fade" role="dialog" >
  <div class="modal-dialog modal-lg modal-dialog-centered" >
      <!-- Modal content-->
      <div class="modal-mycontent">
        <div class="modal-header">
            <h5> <%=@post.applies.count%> 개의 신청서</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

<table>
    <tr>
        <td> 작성자 </td>
        <td> 지원서 제목</td>
        <td> 지원서 내용</td>
        <td> 작성 시간</td>
        <td> 매칭 상태</td>
        <td> &nbsp;</td>
    </tr>
    
    <% @post.applies.each do |a| %>
    
    <tr>
        <td> <%=a.user_id%></td>
        <td> <%=a.title%></td>
        <td> <%=a.content%></td>
        <td> <%=( a.created_at + 32400 ).strftime "%Y-%m-%d %H:%M" %></td>
        <td> <%=a.matching%></td>
        <% if a.matching %>
            <td> 수락 완료 </td>
        <% else %>
            <td> <a href="/post/<%=@post.id%>/apply_accept/<%=a.id%>" role="button" class="btn panel-body">수락</a>
            <a href="/apply/destroy/<%=@post.id%>/<%=a.id%>" role="button" class="btn panel-body">거부</a>
            </td>
        <%end%>
        
    </tr>
    <%end%>
</table>
        <br>
        </div>
      </div>
      
      
  </div>
</div>
<% end%>

<div id="myModal" class="modal fade " role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" >
      <!-- Modal content-->
      <div class="modal-mycontent">
        <div class="modal-header">
        <h3>신청서 작성</h3>
          <button type="button" class="close"  name="close" data-dismiss="modal">&times;</button>
        </div>
      <div class="modal-body">
        <%=form_for(Apply.new, url: apply_cre_path(post_id: @post.id),  html: {class: "apply_form"}, method: 'post')do |f| %>
            <%=f.text_field :title , class:"form-control", :placeholder => '제목'%> 
            <%= f.text_area :content , class:"form-control", :placeholder => '내용', :rows => '6'%>
            <button type="button" class="btn panel-body" onClick="check(this.form)" >Done</button>
        <%end%>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=194dda0c9f26fd6381c1f54652c244e6&libraries=services"></script>
    <script>
        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new daum.maps.services.Geocoder();
        
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new daum.maps.LatLng(<%= @post.lat %>, <%= @post.lon %>), // 지도의 중심좌표
                level: 4 // 지도의 확대 레벨
            };


        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
        var map = new daum.maps.Map(mapContainer, mapOption); 

        // 지도 관련 코드 시작 
        // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
        searchAddrFromCoords(map.getCenter(), displayCenterInfo);

        function searchAddrFromCoords(coords, callback) {
        // 좌표로 행정동 주소 정보를 요청합니다
        geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback); }

        function searchDetailAddrFromCoords(coords, callback) {
        // 좌표로 법정동 상세 주소 정보를 요청합니다
        geocoder.coord2Address(coords.getLng(), coords.getLat(), callback); }


        // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
        function displayCenterInfo(result, status) {
            if (status === daum.maps.services.Status.OK) {
                var infoDiv = document.getElementById('centerAddr');

                for(var i = 0; i < result.length; i++) {
                // 행정동의 region_type 값은 'H' 이므로
                if (result[i].region_type === 'H') {
                    infoDiv.innerHTML = result[i].address_name;
                break;}
                }    
            }    
        }
        // 지도 관련 코드 끝

        // 마커가 표시될 위치입니다 
        var markerPosition  = new daum.maps.LatLng(<%= @post.lat %>, <%= @post.lon %>); 

        // 마커를 생성합니다
        var marker = new daum.maps.Marker({position: markerPosition});

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);
    </script>
<script>
  $('#myTab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})

function check(form){
    var title = document.getElementById('apply_title');
    var content = document.getElementById('apply_content');
    if (title.value == ""){
        title.style.borderColor = "Crimson";
        title.placeholder = "제목 필수입력";
    return false;}
    
    if (content.value == ""){
        content.style.borderColor = "Crimson";
        content.placeholder = "내용 필수입력";
    return false;}
    
    return form.submit();

}
       
</script>
</div>
