<!DOCTYPE html>
<html>
  <head>
    <script>
      function showHide(id) {
         var obj = document.getElementById(id);
         if (obj.style.display == 'none')
           obj.style.display = 'block';
         else
           obj.style.display = 'none';
      }
      
      
    </script>

    <!-- meta -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>주거니받거니</title>
    <meta content="" name="keywords">
    <meta content="" name="description">
    
    <!-- 기본세팅 -건들지마세요 -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/assets/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/assets/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/assets/hover/hover.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/assets/style.css" rel="stylesheet">
    
    <!-- Responsive css -->
    <link href="/assets/responsive.css" rel="stylesheet">
  
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/reunion.png">
    
    <!-- fontawesome Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  
    <!--boxicons-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@1.7.1/css/boxicons.min.css' rel='stylesheet'>
    
    

  </head>

  <body>
<style>
/**************************Tooltip starts*************************/

.tooltipMenu{
  min-height: 100px;
  width: 150px;
  /*border: 1px solid #0d77b6;*/
}

.tooltipMenu ul li{
  padding: 10px 20px 10px 20px;
  font-family: sans-serif;
  font-size: 15px;
  width: 100%;
  background: rgba(0, 0, 0, 0.12);
}

.tooltipMenu ul{
  box-shadow: 5px 5px 20px grey;
}

.tooltipMenu ul li:hover{
  /*background: #0d77b6;*/
  color: white;
  cursor: pointer;
  font-weight: bold;
}
/**************************Tooltip ends*************************/

.tooltip{
  position: relative;
  display: inline-block;
}

.tooltipMenu {
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

nav ul span:hover .tooltipMenu{
  visibility: visible;
  cursor: pointer;
}

.bottomSide {
  top: 100%;
}

.bottomSide.tooltipMenu::after {
    bottom: 100%;
    left: 45%;
    border-color: transparent transparent white transparent;
}

.tooltipMenu ul li a {
    font-size: 12px;
    font-family: 'Gothic A1';
}


</style>
      <!-- start section navbar -->
      <% if request.fullpath != "/users/sign_in" && request.fullpath != "/users/sign_up" %>
      <nav class="navbar" id="main-nav">
        <div class="row">
          <div class="container">
    
            <!--<div class="logo col-2">-->
            <!--  <a href="/">주거니받거니</a>-->
            <!--</div>-->
        
            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>
            
            <ul class="nav-menu list-unstyled">
              <div class="row">
              <div class="col-lg-2 middle"><li class="nav-item">
                <a href="/" class="smoothScroll",  style= "display: inline-block;" >주거니받거니</a>
              </li></div>
              <div class="col-lg-2 middle"><li class="nav-item">
                <a href="/about/about" class="smoothScroll",  style= "display: inline-block;" >서비스소개</a>
                
              </li></div>
              <div class="col-lg-4 middle">
                <%= form_tag posts_path, :style =>"border:2px #6495ED solid;padding:7px;width:100%;vertical-align:middle;", :method => :get do %>
                  <i class="fas fa-search" style="color:#6495ED;display:inline;font-size:12pt;vertical-align:middle;"></i>
                  <%= text_field_tag :search, params[:search], :style => "border:none;width:90%;vertical-align:middle;"%>
                <% end %>
              </div>
             
              <% if user_signed_in? %>
                 <div class="col-lg-2 middle"><li class="nav-item">
                  <a href="/match/index"  class="smoothScroll",  style= "display: inline-block">빠른탐색</a>
                </li></div>
                
                <div class="col-lg-1 middle">
                  <a href="/posts/new"  class="smoothScroll",  style="display:inline-block;"><i class='bx bx-pencil bx-md'></i></a>
                </div>
                <div class="col-lg-1 middle">
                  <a href="/mypage" class="smoothScroll",  style="display:inline-block;">
                    <i class='bx bx-user-circle bx-md'>
                    </i></a>
                    
                    <% if current_user.new_notifications.unread_by(current_user).count  > 0%>
                    <span class="counter">
                        <%= current_user.new_notifications.unread_by(current_user).count %>
                    <div class='tooltipMenu bottomSide'>
                      <ul>
                          <%= render partial: "new_notifications/new_notification", collection: current_user.new_notifications.unread_by(current_user) %>
                          <li><b><%= link_to '모든 알림 지우기'.html_safe, new_notifications_read_all_path %></b></li>
                        </ul>
                    </div>
                   </span>
                    
                    <% end %>
                </div>
              <% else %>
                <div class="col-lg-2 middle"><li class="nav-item">
                  <%=link_to '회원가입', new_user_registration_path, :class => "smoothScroll",  :style => "display: inline-block;" ,method: 'get' %>
                </li></div>
                <div class="col-lg-2 middle"><li class="nav-item">
                  <%=link_to '로그인', new_user_session_path, :layout => "useer-application", :class => "smoothScroll",  :style => "display: inline-block;" ,method: 'get' %>
                </li></div>
              <%end%>
            </div>
            </ul>
    
          </div>
        </div>
      </nav>
<% end %>
      <!-- End section navbar -->

    
    
  <!-- start section about us -->    
  
      <%= yield %>
   
  <!--end section about us-->
    
  
    <!-- start section footer -->
    <% if request.fullpath != "/users/sign_in" && request.fullpath != "/users/sign_up" %>
    <div id="footer">
      <div style="margin-top:10px; margin-bottom:10px; margin-left:50px">
        
  
        <p style="margin-bottom: 0px;">동덕여자대학교 | 박보람 | 조송이 | 차주연</p>
        <p>서울특별시 성북구 화랑로13길 60 인B313호</p>
        <h4>ⓒ 주거니받거니 2018</h4>
      </div>
    </div>
<% end %>
    <!-- End section footer -->
  
  
    <!-- JavaScript Libraries -->
    <script src="/assets/jquery/jquery.min.js"></script>
    <script src="/assets/jquery/jquery-migrate.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/typed/typed.js"></script>
    <script src="/assets/owlcarousel/owl.carousel.min.js"></script>
    <script src="/assets/magnific-popup/magnific-popup.min.js"></script>
    <script src="/assets/isotope/isotope.pkgd.min.js"></script>
  
    <!-- Contact Form JavaScript File -->
    <script src="/assets/contactform.js"></script>
  
    <!-- Template Main Javascript File -->
    <script src="/assets/main.js"></script>
    <script src="/assets/modernizr.custom.js"></script>
  </body>
</html>
